<p id="notice"><%= notice %></p>

<h1>Events</h1>
  <%= paginate @events %>
  <ul class="collection">
    <% @events.each_with_index do |event, i| %>
    <% if i % 2 == 0 %>
      <div class="row">
    <% end %>
    <div class="col s6">
      <div class="card large">
        <div class="card-image waves-effect waves-block waves-light">
          <%= image_tag event.img_url, :class => "activator" %>
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4"><%= event.title %><i class="material-icons right">more_vert</i></span>
          <p>
            <i class="medium material-icons" onClick="window.open('<%=event.event_url%>')">web</i>
            <%= link_to event do%>
            <i class="medium material-icons">fullscreene</i>
            <%end %>
          </p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4"><%= event.title %><i class="material-icons right">close</i></span>
          <ul class="collection">
            <li class="collection-item avatar">
              <i class="material-icons circle purple accent-4">subtitles</i>
              <span class="title">概要</span>
              <p><%= event.catch %><br>
              </p>
            </li>
            <li class="collection-item avatar">
              <i class="material-icons circle purple accent-4">web</i>
              <span class="title">イベントページ</span>
              <p><%= link_to event.event_url, event.event_url %><br>
              </p>
            </li>
            <li class="collection-item avatar">
              <i class="material-icons circle purple accent-4">search</i>
              <span class="title">イベントid</span>
              <p><%= event.event_id %><br>
              </p>
            </li>
            <li class="collection-item avatar">
              <i class="material-icons circle purple accent-4">date_range</i>
              <span class="title">時間</span>
              <p><%= event.started_at %> ~ <%= event.ended_at %><br>
              </p>
            </li>
            <li class="collection-item avatar">
             <i class="material-icons circle purple accent-4">place</i>
             <span class="title">場所</span>
             <p><%= event.address %><br>
             </p>
           </li>
         </ul>
        </div>
      </div>
    </div>
    <% if i % 2 != 0 %>
      </div>
    <% end %>
    <% end %>
</ul>
<%= paginate @events %>
